<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="云计算产品" />
    <meta name="keywords" content="智慧云, 云计算解决方案" />
    <meta
      name="viewport"
      content="width=1200,minimum-scale=0.5,maximum-scale=1.0,user-scalable=yes, initial-scale=1.0"
    />
    <title>开发运维一体化平台</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <style type="text/css">
      * {
        margin: 0px;
        padding: 0px;
        border: 0px;
      }
      html,
      body {
        min-height: 100%;
      }
      body {
        /* background: radial-gradient(#eeeeee, #444444); */
        background-color: #E9F1F7 !important;
        /* background-image: url('/static/dists/user-bg.svg'); */
        background-repeat: no-repeat;
        background-position: center 110px;
        background-size: 100%;
      }
       .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .loader {
        transform-origin: 12px 12px;
        -webkit-animation: round_animate 0.8s linear infinite;
        animation: round_animate 0.8s linear infinite;
      }
      .text {
        color: rgb(8, 21, 58);
        font-size: 13px;
        margin-top: 4px;
      }
      @keyframes round_animate {
        to {
          transform: rotate(1turn);
        }
      }
     
    </style>
    <script>
      // let link =
      //   document.querySelector("link[rel*='icon']") ||
      //   document.createElement('link');
      // link.type = 'image/x-icon';
      // link.rel = 'shortcut icon';
      // link.href = window.localStorage.faviconurl;
      // document.getElementsByTagName('head')[0].appendChild(link);
    </script>
  </head>

  <body>
    <div id="root">
     <div class="container">
        <svg
          viewBox="0 0 1024 1024"
          focusable="false"
          data-icon="loading-3-quarters"
          width="24px"
          height="24px"
          fill="currentColor"
          aria-hidden="true"
          class="loader"
        >
          <path
            d="M512 1024c-69.1 0-136.2-13.5-199.3-40.2C251.7 958 197 921 150 874c-47-47-84-101.7-109.8-162.7C13.5 648.2 0 581.1 0 512c0-19.9 16.1-36 36-36s36 16.1 36 36c0 59.4 11.6 117 34.6 171.3 22.2 52.4 53.9 99.5 94.3 139.9 40.4 40.4 87.5 72.2 139.9 94.3C395 940.4 452.6 952 512 952c59.4 0 117-11.6 171.3-34.6 52.4-22.2 99.5-53.9 139.9-94.3 40.4-40.4 72.2-87.5 94.3-139.9C940.4 629 952 571.4 952 512c0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 00-94.3-139.9 437.71 437.71 0 00-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.2C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7 26.7 63.1 40.2 130.2 40.2 199.3s-13.5 136.2-40.2 199.3C958 772.3 921 827 874 874c-47 47-101.8 83.9-162.7 109.7-63.1 26.8-130.2 40.3-199.3 40.3z"
          ></path>
        </svg>
        <div class="text">loading</div>
      </div>
  </body>
</html>
