@font-face {
  font-family: "iconfont"; /* Project id 3544977 */
  src: url('iconfont.woff2?t=1659333026511') format('woff2'),
       url('iconfont.woff?t=1659333026511') format('woff'),
       url('iconfont.ttf?t=1659333026511') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinzeng:before {
  content: "\e64b";
}

.icon-yingyong:before {
  content: "\e64c";
}

.icon-tuanduiguanli1:before {
  content: "\e64d";
}

.icon-chajian:before {
  content: "\e64e";
}

.icon-shengji:before {
  content: "\e651";
}

.icon-fabu:before {
  content: "\e652";
}

.icon-wangguan:before {
  content: "\e653";
}

.icon-peizhi:before {
  content: "\e654";
}

.icon-yingyongfuwuzongshuhover:before {
  content: "\e64a";
}

.icon-yingyongfuwuzongshu-hover:before {
  content: "\e647";
}

.icon-wangguancelve:before {
  content: "\e648";
}

.icon-wangguancelve-hover:before {
  content: "\e649";
}

.icon-peizhizu:before {
  content: "\e641";
}

.icon-beifen-hover:before {
  content: "\e642";
}

.icon-daishengji-hover:before {
  content: "\e643";
}

.icon-daishengji:before {
  content: "\e644";
}

.icon-beifen:before {
  content: "\e645";
}

.icon-peizhizu-hover:before {
  content: "\e646";
}

.icon-jiqun:before {
  content: "\e63b";
}

.icon-shezhi:before {
  content: "\e63c";
}

.icon-shujuzonglan:before {
  content: "\e63d";
}

.icon-yonghu:before {
  content: "\e63e";
}

.icon-shichang:before {
  content: "\e63f";
}

.icon-tuanduiguanli:before {
  content: "\e640";
}

