html,
body,
#root {
  height  : 100%;
  position: relative;
  z-index : 2;
}

.ant-layout {
  min-height      : 100%;
  background-color: #E9F1F7 !important;
}

canvas {
  display: block;
}

body {
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width : 100%;
  margin: 40px 0 !important;
}

// temp fix for https://github.com/ant-design/ant-design/commit/a1fafb5b727b62cb0be29ce6e9eca8f579d4f8b7
.ant-spin-container {
  overflow: visible !important;
}


::-webkit-scrollbar {
  width : 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius   : 5px;
  border          : 1px solid transparent;
  height          : 140px;
  background-clip : content-box;
}

::-webkit-scrollbar-thumb:hover {
  /* background-color: #C0C1C1; */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius   : 5px;
  border          : 1px solid transparent;
  height          : 140px;
  background-clip : content-box;
}

//antd 全局表格样式修改
.ant-table {

  .ant-table-thead>tr {
    background-color: #F1F9FF;
    font-size       : 14px;
    font-family     : PingFangSC-Medium,
      PingFang SC;
    font-weight: 400;
    color      : rgba(0, 0, 0, 0.65);
  }

  .ant-table-tbody>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td {
    background-color: rgba(0, 0, 0, 0.0200);
  }

  .ant-table-tbody>tr {
    font-size: 14px;
    font-family: PingFangSC-Medium,
      PingFang SC;
    font-weight: 500;
    color      : #000000;
  }

  .ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
    background-color: rgba(0, 0, 0, 0.0200);
  }

  .ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td,
  .ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td,
  .ant-table-thead>tr:hover:not(.ant-table-expanded-row)>td,
  .ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
    background-color: rgba(0, 0, 0, 0.0200);
  }
}

//antd button 主题色修改
.ant-btn-primary {
  background-color: #08153A;
  border-color    : #08153A;

  &:hover {
    background-color: #08153A;
    border-color    : #08153A
  }
}

.ant-btn-link {
  color: #0070FF;

  &:hover {
    color: #0070FF;
  }
}

//antd input 主题色修改
.ant-input-search .ant-input {
  border       : none;
  border-radius: 15px;
}

// antd tabs 主题色修改

.ant-tabs-nav-wrap .ant-tabs-nav .ant-tabs-tab:hover {
  color: #0070FF;
}

.ant-tabs-nav-wrap .ant-tabs-nav .ant-tabs-tab-active {
  color      : #08153A;
  font-weight: 600;
}

.ant-tabs-nav .ant-tabs-ink-bar {
  background-color: #08153A;
}

a {
  color: #0070FF;

  &:hover {
    color: #0070FF;
  }
}

//ant-tooltip

.ant-tooltip .ant-tooltip-inner {
  background: #525b75;
}

.ant-tooltip-placement-top .ant-tooltip-content .ant-tooltip-arrow,
.ant-tooltip-placement-topLeft .ant-tooltip-content .ant-tooltip-arrow,
.ant-tooltip-placement-topRight .ant-tooltip-content .ant-tooltip-arrow {
  border-top-color: rgba(82, 91, 117, 1);
}

//ant-tree hover背景色
.ant-tree li .ant-tree-node-content-wrapper:hover {
  .ant-tree-title {
    color: #fff
  }
}

.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: #565f6e;

  .ant-tree-title {
    color: #fff;
  }
}

//ant-radio-group 背景色
.ant-radio-group .ant-radio-button-wrapper-checked {
  background  : #08153A;
  border-color: #08153A;
  color       : #fff;

  &:hover {
    color: #fff
  }
}

//select 下拉框背景色修改
.ant-select-dropdown {
  border-radius: 0 0 10px 10px; // 圆角
  overflow     : hidden;

  .ant-select-dropdown-menu,
  .ant-select-dropdown-menu-root,
  .ant-select-dropdown-menu-vertical {
    li:hover {
      // 鼠标 hover 效果
      background-color: rgba(241, 249, 255, 1);
    }

    background-color: #fff; // 背景色
  }

  .ant-select-dropdown-menu-item .ant-select-dropdown-menu-item-selected {
    background-color: rgba(241, 249, 255, 1); // 展开时。默认选中option的背景色
  }

  .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: rgba(241, 249, 255, 1)
  }
}

//全局卡片padding
.ant-card-body {
  padding      : 20px 24px;
  border-radius: 6px;
}